<!doctype html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Flask App</title>
</head>
<body>

<div class="menu">
  <a class="title-anchor" href="{{ url_for('home.index') }}"><h1>Movie Review with Flask</h1></a>
  <div class="menu-right">
    {% if g.user %}
      <h2>{{ g.user['fullname'] }}</h2>
      <a href="{{ url_for('login.logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('register.register') }}">Register</a>
      <a href="{{ url_for('login.login') }}">Log In</a>
    {% endif %}
  </div>
</div>
<div class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</div>
</body>
</html>