{% extends 'base.html' %}

{% block content %}
    <div class="login-form">
      <form method="post">
        <h1>Register</h1>
        <div class="content">
          <div class="input-field">
            <input class="input-text" id="fullname" name="fullname" placeholder="Full Name">
          </div>
          <div class="input-field">
            <input class="input-text" id="username" name="username" placeholder="User Name">
          </div>
          <div class="input-field">
            <input class="input-text" type="password" id="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="action">
          <button type="submit" class="actionbtn">Sign Up</button>
        </div>
      </form>
    </div>
{% endblock %}